{% from 'macros.html.twig' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Joomla! Help Screens</title>
        <link rel="stylesheet" href="{{ asset('css/help.css', 'mix') }}"{{ sri('css/help.css') }}>
        {% if system_debug %}
            <link rel="stylesheet" href="{{ asset('css/debugbar.css') }}" type="text/css">
        {% endif %}
    </head>
    <body>
        <a name="Top" id="Top"></a>
        {% block content %}{% endblock %}
        <div id="footer-wrapper">
            {% block footer %}
                <div id="license">License: <a href="https://docs.joomla.org/JEDL">Joomla! Electronic Documentation License</a></div>
                <div id="copyright">Copyright &copy; {{ now|date('Y') }} <a href="https://www.opensourcematters.org">Open Source Matters, Inc.</a> All rights reserved.</div>
                <div id="report-an-issue"><a href="https://github.com/joomla/joomla-websites/issues/new?title=[jhelp]%20&amp;body=Please%20describe%20the%20problem%20or%20your%20issue">Report an Issue</a> with the help screens</div>
            {% endblock %}
        </div>
        <hr/>
        <a href="{{ current_url() }}#Top">Top</a>
        {% if system_debug %}
            <script src="{{ asset('js/debugbar.js') }}"></script>
        {% endif %}
    </body>
</html>
